<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minecraft Generators{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <a href="/" class="logo">Minecraft Generators</a>
                <div class="nav-links">
                    <a href="/" class="btn">Главная</a>
                    <a href="{{ url_for('give_generator') }}" class="btn">Генератор /give</a>
                    <a href="{{ url_for('summon_generator') }}" class="btn">Генератор /summon</a>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        Здесь пока ничего нет (и не будет)
    </footer>
</body>
</html>