{% extends "base.html" %}

{% block title %}/summon генератор | Minecraft Generators{% endblock %}

{% block content %}
<div class="container">
    <h2>Генератор команд /summon</h2>
    <form id="summon-form">
        <div>
            <label for="version">Версия: </label>
            <select name="version" id="version"></select>
        </div>
        <div>
            <label for="entity-search">Сущность: </label>
            <input 
                type="text" 
                name="entity-search" 
                id="entity-search"
                placeholder="Поиск..."
                class="autocomplete-input"
                required
                autocomplete="off"
            >
            <ul id="entity-suggestions" class="suggestions-list" style="display: none;"></ul>
        </div>
        <input type="hidden" id="selected-entity" name="entity" required style="display: none;">
        <div>
            <label for="-field">X</label>
            <input type="text" name="x-field" id="x-field" placeholder="~" value="~">
            <label for="y-field">Y</label>
            <input type="text" name="y-field" id="y-field" placeholder="~" value="~">
            <label for="z-field">Z</label>
            <input type="text" name="z-field" id="z-field" placeholder="~" value="~">
        </div>
        <div>
            <label for="custom-name">Отображаемое имя</label>
            <input type="text" name="custom-name" id="custom-name" value="">
        </div>
        <button type="submit">Сгенерировать команду</button>
    </form>
    <div id="result"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/summon_generator.js') }}"></script>
{% endblock %}